{%extends 'base.html'%}
{%block titulo%}Financeiro | Bigue Company{%endblock%}
{%include 'parciais/_messages.html'%}
{% block sair %}
{% if user.is_authenticated %}
<ul class="navbar-nav">
  <li class="nav-item active">


    <a class="nav-link text-white" href="{% url 'logout' %}">Sair</a>
  </li>
</ul>

{%endif%}
{%endblock%}
{%block conteudo%}
{% if user.is_authenticated %}
<h1 class="mt-0 text-center">Olá {{user}}.</h1>
<h5 class="text-secondary text-center">Seja bem vindo ao Dashboard!</h5>
<table class="table mt-5 table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Data</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>

    {% for transacao in transacoes %}
    {% if transacao.tipo_id == 1 %}
    <tr class="text-white bg-danger">
      <th scope="row">{{transacao.id}}</th>
      <td>{{transacao.data|date:'d/m/Y'}}</td>
      <td>{{transacao.descricao}}</td>
      <td>R$ {{transacao.valor}}</td>
      <td>{{transacao.tipo}}</td>
    </tr>
    {% else %}
    <tr class="text-white bg-success">
      <th scope="row">{{transacao.id}}</th>
      <td>{{transacao.data|date:'d/m/Y'}}</td>
      <td>{{transacao.descricao}}</td>
      <td>R$ {{transacao.valor}}</td>
      <td>{{transacao.tipo}}</td>
    </tr>
    {% endif%}
    {% endfor%}
  </tbody>
</table>
<p class="text-right mr-5"><strong>Saldo: 
  {% if saldo >= 0 %}
  <span class="text-success">

    R$ {{saldo}}
  </span>
  {% else %}
  <span class="text-danger">

    R$ {{saldo}}
  </span>
  {% endif %}
</strong>
</p>
<a href="{% url 'registrar' %}" class="btn btn-primary btn-lg active"
  role="button" aria-pressed="true">Nova Transação</a>
{%else%}
<h1>Bem vindo ao sistema de finaças da Bigue Company</h1>
<a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button"
  aria-pressed="true">Login</a>

{%endif%}
{%endblock%}