.exitBtn{
    background: transparent;
    border: none;
    color: var(--pink) !important;
    font-weight: bold;
    font-size: 1.5rem;
}
.menu-area{
    display: flex;
    align-items: center;
    justify-content: center;
}