.remetente {
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    margin: 0 24px 18px;
}
.data {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 8px 25px;
    color: var(--gray);
}
.mensagem {
    display: flex;
    text-align: justify;
    align-items: center;
    font-size: 1.4rem;
    margin: 8px 25px 32px;
}
.MsgForm {
    width: 50%;
    margin-top: 80px;
    margin-bottom: 64px;
}
.MsgForm textarea {
    border-radius: 16px;
    background-color: var(--grey);
    border: none;
    padding: 8px;
    margin: 12px 0 24px 0;
    border: solid 4px var(--grey);
    font-size: 1.2rem;
    resize: none;
}

.MsgForm textarea:focus {
    border: solid 4px var(--pink);
    outline: none;
}
.tableUsers {
    margin-bottom: 0px !important;
}
.MsgForm select {
    border-radius: 16px;
    background-color: var(--grey);
    border: none;
    padding: 8px;
    margin: 12px 0 24px 0;
    border: solid 4px var(--grey);
    font-size: 1.2rem;
    resize: none;
}
.MsgForm select:focus {
    border: solid 4px var(--pink);
}
@media only screen and (max-width: 1000px){
    .MsgForm{
        width: 75vw !important;
    }
}