.btnModalShow {
    position: fixed;
    bottom: 6%;
    left: 92%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 3rem;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: var(--pink);
    transition: 0.3s;
}
.btnModalShow:hover {
    background-color: #e65484 !important;
}
.createUserModal{
    height: 640px !important;
}