{%extends 'base.html'%}
{%block title%}Recibo | Bigue Company{%endblock%}
{%include 'parciais/_messages.html'%}

<!-- faz a checagem se está logado para mostrar o botão sair -->
{% block exit %}
{% if user.is_authenticated %}
<ul class="navbar-nav">
    <li class="nav-item active">


        <a class="nav-link text-white" href="{% url 'logout' %}">Sair</a>
    </li>
</ul>
{% endif %}
{%endblock%}

{%block content%}
<!-- checa se pode mostrar a tabela (está logado) ou precisa redirecionar para o login -->
{% if user.is_authenticated %}
<h3 class="mt-0">Extrato emitido por {{user}} da Bigue Company.</h3>

{% if num_transactions > 0 %}
<table class="table mt-3 table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Data</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Tipo</th>
        </tr>
    </thead>
    <tbody>

        {% for transaction in transactions %}
        {% if transaction.type_id == 1 %}
        <tr class="text-white bg-danger">
            <th scope="row">{{transaction.id}}</th>
            <td>{{transaction.date|date:'d/m/Y'}}</td>
            <td>{{transaction.description}}</td>
            <td>R$ {{transaction.value}}</td>
            <td>{{transaction.type}}</td>
        </tr>
        {% else %}
        <tr class="text-white bg-success">
            <th scope="row">{{transaction.id}}</th>
            <td>{{transaction.date|date:'d/m/Y'}}</td>
            <td>{{transaction.description}}</td>
            <td>R$ {{transaction.value}}</td>
            <td>{{transaction.type}}</td>
        </tr>
        {% endif%}
        {% endfor%}
    </tbody>
</table>

<p class="text-right mr-5"><strong>Saldo Inicial:
        {% if inicial_balance >= 0 %}
        <span class="text-success">

            R$ {{inicial_balance}}
        </span>
        {% else %}
        <span class="text-danger">

            R$ {{inicial_balance}}
        </span>
        {% endif %}
    </strong>
</p>
<p class="text-right mr-5"><strong>Saldo Final:
        {% if final_balance >= 0 %}
        <span class="text-success">

            R$ {{final_balance}}
        </span>
        {% else %}
        <span class="text-danger">

            R$ {{final_balance}}
        </span>
        {% endif %}
    </strong>
</p>

{% else %}
<h1 class="text-center my-5">Nenhuma transação</h1>
{% endif%}
<div class="w-100 d-flex justify-content-center mt-5">
    <a href="" class="btn btn-primary w-25" role="button"
        aria-pressed="true">Imprimir</a>
</div>



{% else %}
<h1 class="text-center my-5">Bem vindo ao sistema de finaças da Bigue Company
</h1>
<div class="w-100 d-flex justify-content-center">

    <a href="{% url 'login' %}" class="btn btn-primary w-25" role="button"
        aria-pressed="true">Login</a>
</div>
{% endif %}

{%endblock%}