.tableUsers {
    border-spacing: 1;
    border-collapse: collapse;
    background: var(--dark);
    border-radius: 16px;
    overflow: hidden;
    max-width: 75vw;
    width: 100%;
    margin: 50px auto 100px auto;
    position: relative;
    box-shadow: 11px 11px 20px 0px rgba(0, 0, 0, 0.5);
}

td,
th {
    padding: 16px;
    text-align: center;
    color: var(--white);
}

thead tr {
    height: 68px;
    background: var(--pink);
    font-size: 1.5rem;
    font-weight: bold;
}

tbody tr {
    font-weight: bold;
    font-size: 1.2rem;
    height: 68px;
}
tbody button {
    padding: 16px 32px;
    border-radius: 16px;
    border: none;
    margin-right: 16px;
    background-color: var(--pink);
    font-weight: bold;
    color: var(--dark);
}

@media screen and (max-width: 856px) {
    tbody button:not(:first-child) {
        margin-top: 10px;
    }
}
