:root {
    --white: #fffffe;
    --grey: #eff0f3;
    --pink: #d9376e;
    --dark: #0d0d0d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--dark);
}
.swal2-styled.swal2-confirm {
    background-color: var(--pink) !important;
    color: var(--dark) !important;
    font-weight: bold !important;
    border-radius: 16px !important;
    font-size: 1.25rem !important;
}
.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #d9376d3f !important;
}
.swal2-popup {
    background: var(--dark) !important;
    color: var(--white) !important;
    border-radius: 16px !important;
}
.swal2-icon.swal2-error {
    border-color: var(--pink) !important;
}
.swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
    background-color: var(--pink) !important;
}
.swal2-title {
    color: var(--white) !important;
    font-weight: bold !important;
}
.swal2-html-container {
    color: var(--grey) !important;
}
