:root {
    --white: #fffffe;
    --grey: #eff0f3;
    --pink: #d9376e;
    --dark: #0d0d0d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: thin dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important;
}
body {
    background-color: var(--dark);
}
.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 'logo menu' 'content content';
}
aside.menu-area {
    grid-area: menu;
}
aside.logo {
    grid-area: logo;
}
main.content {
    grid-area: content;
}
